.blogpost-meta {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.blogpost-content {
  margin-top: 1rem;
}

.blogpost-content h2 {
  margin-top: 2.5rem;
}

.blogpost-content p {
  margin-bottom: 1.2rem;
}

.blogpost-meta .page-meta {
  margin-bottom: 0;
}
